@import "_variables";

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $bg;
  display: grid;
  grid-template-columns: 1.5fr 1.9fr 1.5fr;
  gap: 1px;
  grid-template-rows: repeat(7, 1fr);
  & > * {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg;
  }
  .menu {
  }
}
